<div class="h-[4rem] w-full flex items-center px-10 border-b-2">
    <div class="flex items-center w-3/5">
        <img src="/assets/download.jpeg" alt="" class="h-full bg-green-200 w-[50px]">
        <h1 class='font-bold'>MONEY TRACKER</h1>
    </div>
    <div class="flex justify-between w-2/5">
        <div class="flex gap-[30px] items-center font-semibold">
            <div class="hover:text-[rgb(92,146,183)] font-semibold">Home</div>
            <div class="hover:text-[rgb(92,146,183)] font-semibold">About</div>
            <div class="hover:text-[rgb(92,146,183)] font-semibold">Contact Us</div>
        </div>
        <div class="flex items-center">
            <button (click)="addTransaction()" class="bg-[rgb(194,231,255)] h-[40px] text-black w-[150px] rounded-[30px] font-semibold hover:scale-105 active:scale-100 hover:shadow-lg shadow-indigo-500/50 transition ease-in-out duration-100">New Transaction</button>
        </div>
    </div>
</div>


<form [formGroup]="transactionForm">
    <div *ngIf="!togglePopup" class="absolute top-0 w-full h-full bg-black bg-opacity-50 z-50 flex items-center justify-center">
        <div class="w-full xs:w-[80%] max-w-[40rem] h-auto max-h-[85%] px-7 opacity-100 py-5 rounded-lg bg-white flex flex-col gap-3 opacity-1 overflow-x-auto">
            <div class="text-[2rem]"><b>Add Transaction</b></div>
            <div class="flex flex-col">
                <label for="" class="pl-2">Transaction Type</label>
                <div *ngIf="trTypeError && trTypeTouched" class="text-red-900 pl-2">
                    Choose transaction type
                </div>
                <select (blur)="trTypeChange($event)" formControlName="transactionType" name="" id="" class="outline-none bg-gray-200 py-2 px-3 rounded-lg focus:bg-slate-300">
                    <option value="" class="outline-none bg-gray-200 py-2 px-3" selected disabled>Choose transaction type</option>
                    <option value="income" class="outline-none bg-gray-200 py-2 px-3 hover:bg-slate-300">Income</option>
                    <option value="expense" class="outline-none bg-gray-200 py-2 px-3">Expense</option>
                </select>
            </div>

            <div class="flex flex-col" *ngIf="transactionForm.get('transactionType')?.value">
                <label for="" class="pl-2">Category</label>
                <div *ngIf="trCategoryError && trCategoryTouched" class="text-red-900 pl-2">
                    Choose transaction category
                </div>
                <select (blur)="trCategoryChange($event)" formControlName="transactionCategory" *ngIf="transactionForm.get('transactionType')?.value === 'income'" name="" id="" class="outline-none bg-gray-200 py-2 px-3 rounded-lg focus:bg-slate-300">
                    <option value="" class="outline-none bg-gray-200 py-2 px-3" selected disabled>Choose amount category</option>
                    <option value="salary" class="outline-none bg-gray-200 py-2 px-3 hover:bg-slate-300">Salary</option>
                    <option value="freelance" class="outline-none bg-gray-200 py-2 px-3">Freelance</option>
                    <option value="investment" class="outline-none bg-gray-200 py-2 px-3">Investment</option>
                    <option value="business" class="outline-none bg-gray-200 py-2 px-3">Business</option>
                    <option value="other" class="outline-none bg-gray-200 py-2 px-3">Other income</option>
                </select>  
                
                <select (blur)="trCategoryChange($event)" formControlName="transactionCategory" *ngIf="transactionForm.get('transactionType')?.value === 'expense'" name="" id="" class="outline-none bg-gray-200 py-2 px-3 rounded-lg focus:bg-slate-300">
                    <option value="" class="outline-none bg-gray-200 py-2 px-3" selected disabled>Choose amount category</option>
                    <option value="home" class="outline-none bg-gray-200 py-2 px-3">Home maintanance</option>
                    <option value="transportaion" class="outline-none bg-gray-200 py-2 px-3">Transportaion</option>
                    <option value="food" class="outline-none bg-gray-200 py-2 px-3">food</option>
                    <option value="shopping" class="outline-none bg-gray-200 py-2 px-3">Shopping</option>
                    <option value="education" class="outline-none bg-gray-200 py-2 px-3">Education</option>
                    <option value="health" class="outline-none bg-gray-200 py-2 px-3">Health</option>
                    <option value="bills" class="outline-none bg-gray-200 py-2 px-3">Bills</option>
                    <option value="entertainment" class="outline-none bg-gray-200 py-2 px-3">Entertainment</option>
                    <option value="other" class="outline-none bg-gray-200 py-2 px-3">Other expenses</option>
                    
                </select>      
            </div>
            
            <div class="flex flex-col">
                <label for="" class="pl-2">Transaction Amount</label>
                <div *ngIf="trMoneyError && trMoneyTouched" class="text-red-900 pl-2">
                    Enter transaction amount
                </div>
                <input (blur)="trMoneyChange($event)" formControlName="transactionAmount" type="number" class="outline-none bg-gray-200 py-2 px-3 rounded-lg focus:bg-slate-300">
            </div>
            
            <div class="flex flex-col">
                <label for="" class="pl-2">Description</label>
                <div *ngIf="trDescriptionError && trDescriptionTouched" class="text-red-900 pl-2">
                    Provide transaction description
                </div>
                <textarea (blur)="trDescriptionChange($event)" formControlName="transactionDescription" class="outline-none bg-gray-200 py-2 px-3 rounded-lg focus:bg-slate-300"></textarea>
            </div>

            <div class="flex flex-col">
                <label for="" class="pl-2">Date</label>
                <div *ngIf="trDateError && trDateTouched" class="text-red-900 pl-2">
                    Select transaction date
                </div>
                <input (blur)="trDateChange($event)" formControlName="transactionDate" type="date" class="outline-none bg-gray-200 py-2 px-3 rounded-lg focus:bg-slate-300">
            </div>
            <div class="flex justify-between mt-2">
                <button class="px-5 py-2 rounded-lg transition ease-in-out active:scale-95 bg-slate-400" (click)="addTransaction()">Cancel</button>
                <div class="text-red-700">{{errorMessage}}</div>
                <button class="px-5 py-2 rounded-lg transition ease-in-out active:scale-95 bg-slate-400 disabled:cursor-not-allowed" [disabled]="transactionForm.invalid" type="submit" (click)="onSubmit()">Create</button>
            </div>
        </div>
    </div>
</form>