<div class="h-[4rem] w-full flex items-center px-10 border-b-2">
    <div class="flex items-center gap-[10px] w-3/5">
        <img src="" alt="" class="h-[50px] w-[50px]">
        <h1 class='font-bold'>MONEY TRACKER</h1>
    </div>
    <div class="flex justify-between w-2/5">
        <div class="flex gap-[30px] items-center font-semibold">
            <div class="hover:text-[rgb(92,146,183)] font-semibold">Home</div>
            <div class="hover:text-[rgb(92,146,183)] font-semibold">About</div>
            <div class="hover:text-[rgb(92,146,183)] font-semibold">Contact Us</div>
        </div>
        <div class="flex items-center">
            <button class="bg-[rgb(194,231,255)] h-[40px] text-black w-[150px] rounded-[30px] font-semibold hover:scale-105 active:scale-100 hover:shadow-lg shadow-indigo-500/50">New Transaction</button>
        </div>
    </div>
</div>